/* Add this CSS to your stylesheets or use a style tag in your component */

body {
  margin: 0px;
  background-image: linear-gradient(#2a0447, #9d80b7);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
}

form {
  margin-top: -150px;
  background-color: #623887;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-self: center;
  text-align: center;


}

h2 {
  color: #333;
}

f1 {
  font-family: "Sacramento";
  color: #fff;
  font-weight: 550;
  font-size: 40px;  
  text-align: center;
}

input, textarea, .contact-form button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "PT Sans";
  font-size: medium;
}

.contact-form button {
  background-color: #a67bcb;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  height: 55px;
  font-family: "Sacramento";
  font-size: 30px;
  font-weight: 550;
  /* text-align: center; */
  
}

.contact-form button:hover {
  background-color: #8667a5;
}
