* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bokor', 'Indie Flower', 'Permanent Marker', 'Astloch';
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .home{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .about {
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
    color: #801a1a;
    font-size: 100px;
  }
  
  .contact-me {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .experience {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .music {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .skills {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #79b0e4;
    color: #fff1cb;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Permanent Marker';
  }

  .home-container {
    background-color: #000000; /* Choose your desired background color */
    padding: 0px; /* Optional: Add padding to the container */
  }